/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%) no-repeat top
		center/cover;
	border-radius: 32px;
	width: 100vw;
	height: 100vh;
}

body * {
	font-family: "Rubik", sans-serif;
}

header {
	text-align: center;
	margin: 70px 0px 20px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
}

#app {
	margin: auto;

	width: 327px;
	height: 656px;
	left: calc(50% - 327px / 2 - 0.5px);
	top: calc(50% - 656px / 2);

	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
}

#flying {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	padding: 24px 32px;
	gap: 24px;

	width: 327px;
	height: 191px;
	border-radius: 24px;
	background-color: #fff;
	background-image: radial-gradient(
			circle at left bottom,
			#4e328f 18px,
			transparent 0
		),
		radial-gradient(circle at right bottom, #4e328f 18px, transparent 0);
}

#flying:hover {
	background-color: rgb(241, 241, 241);
}

.heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	gap: 24px;

	width: 263px;
	height: 36px;
}

.heading p {
	font-size: 14px;
	line-height: 17px;
}

.heading > div:nth-child(2) {
	text-align: end;
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	isolation: isolate;
}


.main p {
	font-size: 12px;
	line-height: 17px;
	color: rgba(0, 0, 0, 0.64);
}

.main .plus {
	font-size: 16px;
}

.main span {
	font-weight: 500;
	font-size: 40px;
	line-height: 47px;
	letter-spacing: -0.02em;

	color: rgba(0, 0, 0, 0.88);
}

.main > div:nth-child(3) {
	text-align: end;
}

.main sup {
	font-weight: bold;
  font-size: 10px;
	padding: 1px;
}

#passenger {
	border-top: 1px dashed rgba(0, 0, 0, 0.32);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 24px 32px;
	gap: 20px;

	width: 327px;
	height: 84px;

	border-radius: 24px;
	background-color: #fff;
	background-image: radial-gradient(
			circle at left top,
			#4e328f 18px,
			transparent 0
		),
		radial-gradient(circle at right bottom, #4e328f 18px, transparent 0),
		radial-gradient(circle at left bottom, #4e328f 18px, transparent 0),
		radial-gradient(circle at right top, #4e328f 18px, transparent 0);
}

#passenger:hover {
	background-color: rgb(241, 241, 241);
}

#passenger > div:nth-child(2) {
	text-align: end;
}
#passenger p {
	color: rgba(0, 0, 0, 0.64);
}
#passenger span {
	color: rgba(0, 0, 0, 0.88);
}

#boarding {
	border-radius: 24px;

	background-color: #fff;
	background-image: radial-gradient(
			circle at left top,
			#4e328f 18px,
			transparent 0
		),
		radial-gradient(circle at right top, #4e328f 18px, transparent 0);

	border-top: 1px dashed rgba(0, 0, 0, 0.32);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"A B "
		"C C ";
	align-items: center;
	justify-content: center;
	padding: 24px 32px;
	gap: 24px;

	width: 327px;
	height: 269px;
}

#boarding:hover {
	background-color: rgb(241, 241, 241);
}

#boarding div:nth-child(1) {
	grid-area: A;
}

#boarding div:nth-child(2) {
	grid-area: B;
}

#boarding div:nth-child(3) {
	grid-area: C;
	text-align: center;
}

#boarding p {
	letter-spacing: -0.02em;
	font-size: 14px;
	line-height: 17px;
	color: rgba(0, 0, 0, 0.64);
}

#boarding span:nth-child(4) {
	display: block;
	margin-bottom: 16px;
}

#boarding span:nth-child(2) {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 8px;
	padding: 4px 8px;

	margin-bottom: 16px;

	width: 54px;
	height: 27px;

	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #fff;

	background: rgba(99, 59, 188, 1);
	border-radius: 8px;
}

#boarding span {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

footer {
	margin-top: 20px;

	font-size: 14px;
	line-height: 24px;

	display: flex;
	align-items: center;
	text-align: center;
	margin-inline: 25px;
	letter-spacing: -0.02em;

	color: #ffffff;

	opacity: 0.64;
}
